@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section {
  @apply max-w-[1460px] mx-auto;
}
body {
  background-color: rgb(250, 250, 248);
}
