@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section {
  @apply max-w-[1400px] mx-auto px-4 sm:px-0;
}
body {
  background-color: rgb(250, 250, 248);
  overflow-x: hidden;
}
