@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section {
  @apply max-w-[1400px] mx-auto px-3 sm:px-4 md:px-5 lg:px-5 2xl:px-0;
}
body {
  background-color: rgb(250, 250, 248);
  overflow-x: hidden;
}

label > input[type="checkbox"] {
  display: none;
}

label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
  margin-right: 5px;
  margin-bottom: 5px;
}

label > input[type="checkbox"]:checked + *::before {
  content: "✓";
  transform: scale(1.2);
  color: #a367b1;
  text-align: center;
  background: white;
  border-color: white;
  margin-bottom: 8px;
}
label > input[type="checkbox"]:checked + * {
  color: #a367b1;
}

/* Set the scrollbar color */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a367b1;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

input[type="radio"] {
  /* Hide the default radio button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #a367b1; /* Default border color (pink) */
  outline: none;
}

/* Style the checked state */
input[type="radio"]:checked {
  border-color: #a367b1; /* Change border color when checked to pink */
  background-color: #a367b1; /* Change background color when checked to pink */
}
